* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 300px;
  background: url(./bg.webp);
}

h1{
    text-align: center;
}

img{
    height: 55px;
    width: 140px;
}

.brand-scroller{
    display: flex;
    gap:50px;

    width: 1080px;
    margin: 20px auto;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    overflow: hidden;
}

.brand{
    display: flex;
    gap:50px;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(-100%);
    }
    
}

